#listContainer{
    background-color:#EDF7F6 ;
    padding:50px ;
}

#mapContainer{
    width:100%; 
    height:500px;
    padding:30px;
    margin: 30px 0px
}

body {
    background-image: url(https://image.freepik.com/free-photo/background-black-wall-large-texture_29332-1042.jpg);
    background-position: center;
}
.card-deck{
    margin: 20px;
}


.card-text{
    font-size: 20px;
}

.card-body{
    text-align: center;
    
}

.navbar{
    background-color:#EDF7F6 ;
} 

.btn {
    background-color:#C47335;
    color:black;
    border: white;
    
}
.btn:hover {
    color:#C47335;

}

.card{
    border-radius: 0;
    box-shadow: 5px 5px 15px #e74c3c;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    min-height: 451px;
    max-height: 451px;
    margin: 60px 0px;
    position: relative;
    
    
}

.card:hover{
    background:#e74c3c ;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9E9E9E;
}

.bottom-card{
    position: absolute;
    bottom: 5%;
}

.neon {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 6em;
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
    
}
.neon:after {
    content: attr(data-text);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    color: #ff005b;
    filter: blur(15px);
}
.neon:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fe3e80;
    z-index: -2;
    opacity: .5;
    filter: blur(40px);
}

h3{
    font-weight: bold;
}

h5{
    font-weight: bold;
}

.card-body img{
    margin-top: -100px;
}

.col {
    padding-top: 50px; 
}

.card-body .btn {
    background-color: #fff;
    margin: 20px;
    
}
.headerDiv {
    position: relative;
    margin-top: -100px;

}